boto3==1.4.4
botocore==1.5.60
croniter==0.3.17
decorator==4.0.11
docutils==0.13.1
jmespath==0.9.3
pbr==3.0.1
psycopg2==2.7.1
py==1.4.33
pytest==3.1.1
python-dateutil==2.6.0
s3transfer==0.1.10
six==1.10.0
SQLAlchemy==1.1.10
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
-e git+git@github.com:awm33/taskflow.git@0b04b8d75d768113a1521fbdeac682e2dd6299c3#egg=taskflow
Tempita==0.5.2
toposort==1.5
